.lead {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  .lead {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .lead {
    margin: 0 auto;
    max-width: 768px;
    min-width: 321px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 0 auto;
    max-width:  320px;
  }
} 