.lead__title {
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  max-width: 720px;
  text-align: center;
  margin: 56px auto 32px;
}

@media screen and (max-width:1024px) {
  .lead__title {
    max-width: 720px;
    margin: 48px auto 32px;
  }
  }

  @media screen and (max-width: 675px) {
    .lead__title {
      max-width: 627px;
      font-size: 12vw;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__title {
      max-width: 720px;
      font-size: 12vw;
    }
  }

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 48px auto 16px;
  }
}